{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
{% endblock %}

{% block extra_js %}

 <script type="text/javascript" charset="utf8">
 $(document).ready( function () {
    $('#course_edit_form').submit(function(event){
        console.log('hello reinhard');
        var p = $(location).attr('protocol');
        var h = $(location).attr('host');
        var widget_url = p+ "://" + h+ "course_info/widget.html?course_instance_id=" + {{ course_instance_id }};
        widget_url += "&amp;key=title&amp;key=description";
        var widget_url =  $('#widget_url').val();
        $('#widget_url').val(widget_url);
        console.log("widget_url: " + widget_url);
    });

});
    </script>
{% endblock %}

{% block content %}


<p>The information in this widget is provided by the registrar's office.
        To change any information in this widget, please contact the catalog coordinator in your department.</p>


<div id="course_info_container" class="container-fluid">

<form action="{{ launch_presentation_return_url }}" id="course_edit_form" method="get">



{% for field in fields  %}
    <div><input type="checkbox" name="{{ field.key }} checked">{{ field.value }}</div>
{% endfor %}

    <input type="hidden" id="widget_url" name="url" value="" />
    <input type="hidden" name="width" value="100%" />
    <input type="hidden" name="height" value="100%" />
    <input type="hidden" name="title" value="Course Info" />
    <input type="hidden" name="return_type" value="iframe" />
    <input type="submit" name="insert" value="insert" />
</form>

{% endblock %}


