{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
{% endblock %}

{% block extra_js %}

 <script type="text/javascript" charset="utf8">
 $(document).ready( function () {
    $('#widget_edit_form').submit(function(event){
        var p = $(location).attr('protocol');
        var h = $(location).attr('host');
        var widget_url = p + '//' + h+ '/course_info/widget.html?course_instance_id={{ course_instance_id }}';
        $('#widget_edit_form input:checkbox:checked').each(
                function(){
                    widget_url += '&amp;f=' + $(this).val();
                });
        $('#widget_url').val(widget_url);

        var widget_height = estimateHeight();
        if (widget_height > 100 && widget_height < 1000) {
            $("#widget_height").val(widget_height);
        }
    });

    $("#widget_edit_form_container input").on("change", function(e) {
      console.log("widget height estimate changed to:", estimateHeight());
    });
    
    // This function attempts to determine the content height for the checked fields .
    // This value will be used to set the "height" attribute of the iFrame so that it
    // the content fits.
   function estimateHeight() {
      var $checked = $("#widget_edit_form_container input:checked");
      var $container = $('<div></div>');
      var height;

      $checked.each(function(idx) {
         var $field = $(this).next().clone().wrap("<div></div>").parent();
         $container.append($field);
      });

      height = $container.hide().appendTo("body").height();
      $container.remove();

      return height;
   }
});
    </script>
{% endblock %}

{% block content %}

<p>Please select the fields you wish to display from the list below and hit "insert" to include a
    live-updating course information widget in this page.</p>

<p>The information in this widget is provided by the registrar's office.
        If any of it is outdated or incorrect, please contact the catalog coordinator in your department.</p>

<div id="widget_edit_form_container" class="container-fluid">

<form action="{{ launch_presentation_return_url }}" id="widget_edit_form" method="get">

{% for field in fields  %}
    <div><input id="{{ field.key }}" type="checkbox" value="{{ field.key }}" checked/><span>{{ field.value }}</span></div>
{% endfor %}

    <input type="hidden" id="widget_url" name="url" value="" />
    <input type="hidden" name="width" value="100%" />
    <input type="hidden" id="widget_height" name="height" value="100%" />
    <input type="hidden" name="title" value="Course Info" />
    <input type="hidden" name="return_type" value="iframe" />
    <input type="submit" name="insert" value="insert" />
</form>

{% endblock %}


