{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
{% endblock %}

{% block extra_js %}



<script type="text/javascript">
  $(function(){
      console.log("height: " + $(document).height());
    parent.postMessage(JSON.stringify({subject: 'lti.frameResize', height: $(document).height()+"px"}), '*');
  });
</script>




{% endblock %}

{% block content %}

<div id="course_info_container" class="container-fluid">

{% for field in fields  %}
    <div>{% autoescape off %}{{ field.value }}{% endautoescape %}</div>
{% endfor %}

</div>


{% endblock %}


