{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
{% endblock %}

{% block extra_js %}


<script type="text/javascript" charset="utf8">
// The code below attempts to send a message to the parent window to resize the iFrame to fit the content,
// which appears to be supported in the Instructure codebase here:
//
// https://github.com/instructure/canvas-lms/blob/master/public/javascripts/tool_inline.js
//
// However, for one reason or another, this doesn't sem to be working, so commenting out (for now).
/*
   $(document).ready(function() {
      window.postMessage(JSON.stringify({
         subject: 'lti.frameResize',
         height: $(document).height()
      }), '*');
   });
*/
</script>

{% endblock %}

{% block content %}

<div id="course_info_container" class="container-fluid">

{% for field in fields  %}
    <div>{% autoescape off %}{{ field.value }}{% endautoescape %}</div>
{% endfor %}

</div>


{% endblock %}


