td { border-width: thin; border-style: solid; border-color: #dbdbdb ; padding: 5px; }
.course_info_textHeader1  {font-weight: bold; font-size: 16px;}
.course_info_textHeader2  {font-weight: bold; font-size: 13px; font-color: red; }
